@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

/* ---> Basic Reset <--- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --yellow: #F4D04E;
    --white: #fff;
    --gray-950: #111;
    --gray-500: #6B6B6B;
    --title-desktop: 24px;
    --title-mobile: 20px;
    --text-desktop: 16px;
    --text-mobile: 14px;
    --typography-lh: 150%;
    --extra-bold: 800;
    --medium: 500;
    --font-family: "Figtree", sans-serif;
}

/* ---> General Styles <--- */
body,
main {
    display: flex;
    align-items: center;
}

body {
    flex-direction: column;
    background-color: var(--yellow);
    font-family: var(--font-family);
    line-height: var(--typography-lh);
    padding: 0 24px;

}

main {
    height: 96vh;
}

img {
    width: 100%;
}

span {
    font-size: var(--text-mobile);
}

a {
    text-decoration: none;
}

h1 {
    font-size: var(--title-desktop);
    font-weight: var(--extra-bold);
    transition: color 0.8s ease;
    cursor: pointer;
}

h1:hover {
    color: var(--yellow);
}

p {
    font-size: var(--text-desktop);
    color: var(--gray-500);
    font-weight: var(--medium);
}

@media (max-width: 767px) {
    h1 {
        font-size: var(--title-mobile);
    }
    
    p {
        font-size: var(--text-mobile);
    }
}

/* ---> Blog Card <--- */
.blog-card,
.card-content {
    display: flex;
    flex-direction: column;
}

.blog-card {
    max-width: 384px;
    gap: 24px;
    padding: 24px;
    border-radius: 20px;
    background-color: var(--white);
    box-shadow: 8px 8px 0px 0px #000;
    border: 1px solid var(--gray-950);
}

.card-content {
    gap: 12px;
}

.post-img {
    border-radius: 10px;
}

.tag {
    color: var(--gray-950);
    font-weight: var(--extra-bold);
    font-size: var(--text-mobile);
    padding: 4px 12px;
    border-radius: 4px;
    background-color: var(--yellow);
    width: fit-content;
}

.card-content span {
    color: var(--gray-950);
}

@media (max-width: 767px) {
    .tag,
    .card-content span {
        font-size: 12px;
    }
}

.card-footer {
    display: flex;
    align-items: center;
    gap: 12px;
}

.author-photo {
    max-width: 32px;
}

.author-name {
    color: var(--gray-950);
    font-weight: var(--extra-bold);
}

.attribution {
    text-align: center;
}



